apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: {{.App}}-transflect
  namespace: {{.Namespace}}
  labels:
    app: transflect
spec:
  workloadSelector:
    labels:
      app: {{.App}}
  configPatches:
  - applyTo: HTTP_FILTER
    match:
      context: SIDECAR_INBOUND
      listener:
        portNumber: {{.IstioAppPort}}
        filterChain:
          filter:
            name: "envoy.filters.network.http_connection_manager"
            subFilter:
              name: "envoy.filters.http.router"
    patch:
      operation: INSERT_BEFORE
      value:
        name: "envoy.filters.http.grpc_json_transcoder"
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.http.grpc_json_transcoder.v3.GrpcJsonTranscoder
          proto_descriptor_bin: "{{.ProtosetBase64}}"
          services:
          {{- range .Services}}
          - {{. -}}
          {{end}}
          print_options:
            add_whitespace: true
            always_print_primitive_fields: true
            always_print_enums_as_ints: false
            preserve_proto_field_names: true
